body {
  margin: 0;
}

header {
  background-color: black;
  color: white;
  min-height: 100px;
}

main {
  background-color: blueviolet;
  min-height: 500px;
  display: flex;
}

aside {
  flex: 0 0 200px;
  background-color: cyan;
  min-width: 20%;
}

article {
  flex: 1 0 auto;
  background-color: darkgreen;
  max-width: 80%;
}

footer {
  background-color: coral;
  min-height: 200px;
}