.container{
  display: flex;
  height: 500px;
}

.one {
  flex: 0 0;
  background-color: tomato;
  flex-basis: 33.3%;
}

.two {
  flex: 1 0 33.3%;
  background-color: teal;
  min-height: 100%;
  flex-basis: 33.3%;
}
  

.three {
  flex: 2 0 33.3%;
  background-color: blue;
  min-height: 100%;
  flex-basis: 33.3%;
}
